.content {
  padding: 30px;

  img {
    max-width: 100%;
  }
}

.druid {
  box-shadow: 0 0 15px #ff7d0a;
}

.hunter {
  box-shadow: 0 0 15px #abd473;
}

.mage {
  box-shadow: 0 0 15px #40c7eb;
}

.paladin {
  box-shadow: 0 0 15px #f58cba;
}

.priest {
  box-shadow: 0 0 15px #fff;
}

.rogue {
  box-shadow: 0 0 15px #fff569;
}

.shaman {
  box-shadow: 0 0 15px #0070de;
}

.warlock {
  box-shadow: 0 0 15px #8787ed;
}

.warrior {
  box-shadow: 0 0 15px #c79c6e;
}