.filter {
  padding: 2px;
  margin: 0 auto;
  border: 2px solid grey;
  background-color: black;
  color: #f8b700;
}

.druid {
  border-color: #ff7d0a;
}

.hunter {
  border-color: #abd473;
}

.mage {
  border-color: #40c7eb;
}

.paladin {
  border-color: #f58cba;
}

.priest {
  border-color: #fff;
}

.rogue {
  border-color: #fff569;
}

.shaman {
  border-color: #0070de;
}

.warlock {
  border-color: #8787ed;
}

.warrior {
  border-color: #c79c6e;
}