.link {
  color: #ebdec3;
  margin: 8px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Jura;
  font-size: 13pt;

  &:hover {
    color: #fff;
    text-shadow: 1px 1px 15px #fff;
  }
}

.current {
  color: #fff;
  position: relative;

  span {
    z-index: 5;
    position: relative;
  }

  .glow {
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 1px;
    height: 1px;
    border-radius: 50% 50% 0 0;
    background-color: #8f131d;
    box-shadow: 0 0 45px 40px #8f131d;
    z-index: 4;
  }
}