.link {
  color: #ebdec3;
  margin: 8px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Jura;
  font-size: 13pt;

  &:hover {
    color: #fff;
    text-shadow: 1px 1px 15px #fff;
  }
}

.current {
  color: #fff;
  text-shadow: 1px 1px 15px #fff;
}


@media only screen and (max-width: 1360px) {
  .link {
    font-size: 11pt;
    margin: 8px 14px;
  }
}