@import "styles/variables";

.content {
  padding: 30px;
  font-family: Philosopher;
  background-color: #14183f;

  :global {
    .youtube-wrapper {
      padding-bottom: 59%;
      position: relative;

      iframe {
        width: 100%;
        height: 100%;
        position:absolute;
      }
    }
  }

  img {
    max-width: 100%;
  }
}

@media (min-width:960px) {
  .content {
    :global {
      .youtube-wrapper {
        padding-bottom: 29%;

        iframe {
          width: 50%;
        }
      }
    }
  }
}

.druid {
  border-color: $druidColor !important;
  box-shadow: 0 0 15px $druidColor;
}

.hunter {
  border-color: $hunterColor !important;
  box-shadow: 0 0 15px $hunterColor;
}

.mage {
  border-color: $mageColor !important;
  box-shadow: 0 0 15px $mageColor;
}

.paladin {
  border-color: $paladinColor !important;
  box-shadow: 0 0 15px $paladinColor;
}

.priest {
  border-color: $priestColor !important;
  box-shadow: 0 0 15px $priestColor;
}

.rogue {
  border-color: $rogueColor !important;
  box-shadow: 0 0 15px $rogueColor;
}

.shaman {
  border-color: $shamanColor !important;
  box-shadow: 0 0 15px $shamanColor;
}

.warlock {
  border-color: $warlockColor !important;
  box-shadow: 0 0 15px $warlockColor;
}

.warrior {
  border-color: $warriorColor !important;
  box-shadow: 0 0 15px $warriorColor;
}