.root {
  background-color: #1e2225;
  background-image: url('../../../../assets/top-header.png');
  display: flex;
  padding: 10px;
  overflow: hidden;
}

.menu {
  flex: 1;
  margin: 0 15px;
}

.toolbar {
  flex-wrap: wrap;
  margin: 0 60px;
}

.menuButton {
  margin-right: 36px;
}

@media only screen and (max-width: 768px) {
  .toolbar {
      margin: 0;
  }
}