.root {
  background-color: #0f0f0f;
  display: flex;
  overflow: hidden;
  margin-top: 14px;
}

.container {
  background-image: url('../../../../assets/top-header.jpg');
  background-repeat: no-repeat;
  padding: 0 150px;
  position: relative;
}

.toolbar {
  flex-wrap: wrap;
  padding: 10px;
}

.menu {
  flex: 1;
  margin: 0 15px;
}

.menuButton {
  margin-right: 36px;
}

@media (min-width: 1921px) and (max-width: 2560px)  {
  .container {
    &:before, &:after {
      content: " ";
      height: 100%;
      position: absolute;
      top: 0;
      width: 0;
      box-shadow: 0 0 15px 15px #0f0f0f;
    }
    &:before {
      left: 0px;
    }
    &:after {
      right: 0px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
      padding: 0;
  }

  .toolbar {
      margin: 0;
  }
}