.root {
  padding-bottom: 59%;
  position: relative;

  iframe {
    width: 100%;
    height: 100%;
    position:absolute;
  }
}

@media (min-width:960px) {
  .root {
    padding-bottom: 29%;

    iframe {
      width: 50%;
    }
  }
}