.button {
  margin: 0 1px;
  padding: 4px 1px;
  min-width: auto;
  width: 55px;

  &:hover {
    background-color: #3c5077;
  }
}

.selected {
   background-color: #3c5077;
}

.label {
  display: block;
  text-transform: none;
  font: 12px Philosopher;
}