.button {
  margin: 0 1px;
  padding: 4px 1px;
  min-width: auto;
  width: 55px;

  &:hover {
    background-color: #5b1a10;
  }
}

.selected {
   background-color: #5b1a10;
}

.label {
  display: block;
  text-transform: none;
  font-size: 11px;
}