.root {
  text-decoration: none;
  color: #fff;
}

.card {
  display: flex;
  padding: 15px 0;
  border-radius: 0;

  &:hover {
    background: #1e2140;
  }
}

.cardMedia {
  width: 320px;
  max-width: 320px;
  height: 230px;
  border-radius: 8px;
  box-shadow: 0 0 25px #3c5077;
  margin-left: 50px;
  flex-grow: 1;
}

.cardDetails {
  padding: 0 15px;
  flex-grow: 4;
}

.content {
  border-bottom: 2px solid #ebdec3;
  min-height: 175px;
  padding: 8px 0px 8px 16px;
}

.title {
  font: bold 24pt Philosopher;
  padding-bottom: 15px;
}

.preview {
  font: italic 19px Philosopher;
  color: #ebdec3;
}

.bottom {
  padding: 5px 16px;
  display: flex;
}

.author {
  font: 15px Philosopher;
  flex-grow: 5;
}

.continue {
  font: 21px Philosopher;
  flex-grow: 1;
  text-align: right;
  color: #fff;
  text-decoration: none;

  &:hover {
    text-shadow: 1px 1px 15px #fff;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    flex-wrap: wrap;
  }
  .cardMedia {
    width: 290px;
    max-width: 290px;
    height: 208px;
    margin: 0 auto;
  }
  .content {
    text-align: center;
  }
}