.root {
  background-image: url('../../../../assets/top-footer.jpg');
  background-repeat: no-repeat;
}

.container {
  height: 211px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.title {
  flex-grow: 1;
  text-align: center;
  padding-top: 75px;
  font-family: Philosopher;
  text-transform: uppercase;
  font-size: 40px;
}

.social {
  flex-grow: 1;
  padding-top: 50px;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 20px;
  }

  .social {
    padding-top: 20px;
  }
}
