@import "variables.scss";

.text {
  max-height: 64px;
  text-overflow: 'ellipsis';
  overflow: hidden;
}

.content {
  border-bottom: 1px solid #2f3135;
}

.views {
  padding-right: 10px;
  padding-top: 2px;
}

.root:hover {
  box-shadow: 0 0 15px #5b1a10;
}

.druid:hover {
  box-shadow: 0 0 15px $druidColor;
}

.hunter:hover {
  box-shadow: 0 0 15px $hunterColor;
}

.mage:hover {
  box-shadow: 0 0 15px $mageColor;
}

.paladin:hover {
  box-shadow: 0 0 15px $paladinColor;
}

.priest:hover {
  box-shadow: 0 0 15px $priestColor;
}

.rogue:hover {
  box-shadow: 0 0 15px $rogueColor;
}

.shaman:hover {
  box-shadow: 0 0 15px $shamanColor;
}

.warlock:hover {
  box-shadow: 0 0 15px $warlockColor;
}

.warrior:hover {
  box-shadow: 0 0 15px $warriorColor;
}