.appBar {
  border-bottom: 1px solid #2f3135;
  background-color: #020200;
  display: flex;
  z-index: 1201;
}

.title {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu {
  flex: 1;
}

.toolbar {
  flex-wrap: wrap;
}

.toolbarTitle {
  flex-grow: 1;
  text-align: left;
}

.link {
  margin: 8px 12px;
}