.root {
  display: flex;
  background-color: #201815;
  min-height: 100vh;
  flex-direction: column;
}

.appBarSpacer {
  min-height: 64px;
}

.content {
    flex-grow: 1;
    padding-top: 24px;;
    padding-bottom: 12px;
}