.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: center / 2560px 2593px url("../../../../assets/background.jpg") no-repeat #131850 fixed;
}

.appBarSpacer {
  min-height: 100px;
}

.content {
  flex-grow: 1;
  position: relative;
  padding: 24px 48px 36px 48px;
  min-height: 85vh;
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 24px;
  }
}