@import "variables.scss";

.paper {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin: 8px;
  background-color: #f50057;
}

.form {
  width: 100%;
  margin-top: 8px;
}

.submit {
  margin: 24px 0px 16px;
}

.control {
  margin-top: 0px;
}

.druid:hover{
  background-color: $druidColor;
  color: #000;
}

.hunter:hover {
  background-color: $hunterColor;
  color: #000;
}

.mage:hover {
  background-color: $mageColor;
  color: #000;
}

.paladin:hover {
  background-color: $paladinColor;
  color: #000;
}

.priest:hover {
  background-color: $priestColor;
  color: #000;
}

.rogue:hover {
  background-color: $rogueColor;
  color: #000;
}

.shaman:hover {
  background-color: $shamanColor;
  color: #000;
}

.warlock:hover {
  background-color: $warlockColor;
  color: #000;
}

.warrior:hover {
  background-color: $warriorColor;
  color: #000;
}
