.root {
  border-bottom: 1px solid #2f3135;
  padding: 20px 6px;
}

.class {
  margin-left: 14px;
  padding: 12px 3px !important;
}

.content {
  margin-left: 14px;
  margin-right: 15px;
  padding: 12px 3px !important;
}