.root {
  border-bottom: 1px solid #2f3135;
}

.grid {
  padding: 6px 0 !important;
}

.list {
  padding: 6px 0 !important;
  display: flex;
}

.order {
  margin-top: 10px;
}

.search {
  margin-top: 10px;
}
