.root {

 &:hover {
   background: #1e2140;
 }
}

.avatarWrapper {
  padding: 5px;
  margin-right: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  box-shadow: 0 0 12px 10px #2f5a24;
}

.name {
  font-size: 17pt;
  font-family: Philosopher;
}

.game {
  font-size: 12pt;
  font-family: Andika;
}

.online {
  &:before {
    content:"\A";
    width:10px;
    height:10px;
    margin-right: 5px;
    border-radius:50%;
    background: #f00;
    display:inline-block;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .root {
    padding: 5px;
  }

  .avatar {
    width: 35px;
    height: 35px;
  }

  .avatarWrapper {
    margin-right: 5px;
    min-width: 41px;
  }
  .name {
    font-size: 13pt;
  }
  .game {
    font-size: 9pt;
  }

  .online {
    font-size: 7pt;
  }
}

@media only screen and (max-width: 768px) {
  .root {
    padding-left: 8px;
    padding-right: 8px;
  }
  .avatarWrapper {
    margin-right: 5px;
  }
  .name {
    font-size: 15pt;
  }
  .game {
    font-size: 10pt;
  }
}
