.root {
  width: 100px;
  height: 100px;
  padding: 4px;


  &:before {
    content: "";
    left: 50%;
    top: 50%;
    position: absolute;
    box-shadow: 0 0 25px 45px #2f5a24;
    z-index: 1;
  }

  &:hover {
    &:before {
      box-shadow: 0 0 25px 45px #8f131d;
    }
  }

  img {
    z-index: 2;
  }
}

@media only screen and (max-width: 768px) {
  .root {
    width: 70px;
    height: 70px;
  }
}