.root {
  border: 1px solid #3c5077;
  border-radius: 3px;
  min-height: 300px;
}

.toolbar {
  border: 1px solid #3c5077;
  background: #3c5077;
  color: black;
}

.container {
  padding: 1em;
}

.error {
  border-color: #f44336;
}