.root {
  border: 1px solid #5b1a10;
  border-radius: 3px;
  min-height: 300px;
}

.toolbar {
  border: 1px solid #5b1a10;
  background: #5b1a10;
  color: black;
}

.container {
  padding: 1em;
}

.error {
  border-color: #f44336;
}