$druidColor: #ff7d0a;
$hunterColor: #abd473;
$mageColor: #40c7eb;
$paladinColor: #f58cba;
$priestColor: #fff;
$rogueColor: #fff569;
$shamanColor: #0070de;
$warlockColor: #8787ed;
$warriorColor: #c79c6e;